html, body{
	background: url('img/body-bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

.big-spacer{
	margin-top: 120px; 
	display: block;
}

