<<<<<<< HEAD
/* adventure sheet */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.wrapper{
	width: 1200px;
	min-height: 300px;
	margin: 0 auto;
	padding-bottom: 5px;
}

.leftWrapper{
	float: left;
	width: 50%;
	min-height: 150px;
	padding-bottom: 5px;
}

.rightWrapper{
	float: right;
	width: 50%;
	min-height: 150px;
	padding-bottom: 5px;
}

.itemS{
	padding: 5px;
	width: 190px;
	height: 190px;
	margin-right: 15px;
	border: 1px solid #cdcdcd;
	float: left;
}

.itemS:last-child{
	margin-right: 0;
}

.itemWrapper{
	width: 100%;
	min-height: 150px;
}

.box{
	width: 100%;
	height: 100px;
	border: 1px solid #cdcdcd;
	margin-bottom: 10px;
}

.box:last-child{
	margin-bottom: 0;
}

.inventory{
	border: 1px solid #cdcdcd;
	height: 430px;
}
=======
html, body{
	background: url('img/body-bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

.big-spacer{
	margin-top: 120px; 
	display: block;
}

>>>>>>> 6d7bdfdb84768501a15fe322e259b96352a41066
